<div class='continer'>
  <h3 class = 'head'> Listing All Patient Records. </h3>
  <%=render :partial=> 'filters'%>
  <br />
  <div id='patients-list'>
    <%=render :partial=> 'patients_list'%>
  </div>
</div>
