
     <% form_for :patient,:url=> pms_patients_url do |f| %>
       <%= f.error_messages %>
       <%= render :partial => @partial, :locals => {:f => f} %>
       <div class = 'clear'> </div>
       <p>
         <br />
         <tabel><tr> <td> <button> Create </button>- or
                     </td> <td>-<%= link_to 'Cancel', :back %></td></tr></table>
       </p>
     <% end %>

