<h1>Listing pharamacy_item_information_details</h1>

<table>
  <tr>
  </tr>

<% @pharamacy_item_information_details.each do |pharamacy_item_information_detail| %>
  <tr>
    <td><%= link_to 'Show', pharamacy_item_information_detail %></td>
    <td><%= link_to 'Edit', edit_pharamacy_item_information_detail_path(pharamacy_item_information_detail) %></td>
    <td><%= link_to 'Destroy', pharamacy_item_information_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pharamacy_item_information_detail', new_pharamacy_item_information_detail_path %>