<div class='continer'>
  <div class='continer-inner'>
  <h3>Showing Service</h3><br />
  <table class="form-table">
  <tr> <th>Registration summary:</th><td>
  <%=h @service.name %></td></tr>
 <tr> <th>Description:</th><td>
  <%=h @service.description %></td></tr>
</table>
<br/><br/>

</div></div>
