<div class="left_box">
		<p>"Do all the <b>good</b> you can</p>
                <p> By all the <b>means</b> you can</p>
                <p> In all the <b>ways</b> you can</p>
                <p> In all the <b>places</b> you can</p>
                <p> At all the <b>times</b> you can</p>
                <p> To all the <b>people</b> you can</p>
                <p> As long as <b>ever</b> you can"</p>
                <p class="name">-John Wesley</p>
	</div>
	
	<div class="mid_box">
		<p>Welcome to our ‘HOME’ on the World Wide Web...
	Where your search ends, and our responsibility begins</p><br />
                <center><%= link_to image_tag("/images/site/Logo.jpg"), read_more_url %></center>
		<center><h1><a href="index.html">Santhathi</a></h1></center>
		<p class="sub-heading">"Eminent TEAM with Excellent EFFROTS"</p>
		<p>Some time Nature Needs Help. At Santhathi we assist to accomplish the very natural and 		                                 fundamental
                    Desire of the humanity “THE FERTILITY”</p>
		<p class="link"><%= link_to 'Read more', read_more_url %></p>
	</div>
