<div id="slider1">
	<div id="outer_image">
		<div id="inner_image">
		&nbsp;
		</div>
	</div>
	<!--Home page-->
	<div class="panelContainer">
		<div class="panel" title="Home">
			<div class="wrapper">
				<h2>The first test tube baby center in mangalore</h2>
				<div class="left_box">
					<p>SANTHATHI centre for Reproductive Medicine is a super specialty Health Care Centre dedicated to provide comprehensive services in the field of Human Reproduction. 
					</p>

<p>SANTHATHI started its services in the year 2000. Since then it has been serving the local community in overcoming the dreaded problem of childlessness. <br />So for over 2000 couples have achieved success as a direct result of the effort of Santhathi since its inception.
					</p>
				</div>
				<div class="mid_box">
					<p class="second">It is the first Test Tube Baby Centre of Mangalore. </p>
					<p class="first">Santhathi has services in the following fields: </p>
					<ul>
						<li>Infertility</li>
						<li>Ultrasonography</li>
						<li>Medical Laboratory Services</li>
						<li>Woman Clinic</li>
						<li>Medical Genetics</li>
					</ul>
				</div>
				<div class="right_box">
					<p>Research and Continued Education: SANTHATHI maintains an ongoing collaborative research with National and International Organization, for the deeper understanding of the defects in Human Reproduction. </p>

<p class="second">SANTHATHI is committed to regular updating of Scientific and Clinical knowledge and Continuous Medical Education programmes are regularly held under the auspices of the centre. </p>

<p>Visiting faculties in Reproductive Medicine and Embryology from around the world visit Santhathi to update the treatment methods in the interest of our patients.</p>
				</div>
				
			</div>
		</div>
<!--End-homepage-->
<!--Strength behind us-->
		<div class="panel" title="Strength Behind Us">
			<div class="wrapper">
				<h2>The first test tube baby center in mangalore</h2>
				<div class="left_box">
					<p class="second">TEAM SANTHATHI:</p>
					<div id="photo"><img src="/images/site/kishan_photo.jpg" /></div>
					<p class="heading first">Dr.Kishan Sullia <span>( MBBS, DGO, MRCOG )</span></p>
					<p>Obstetrician & Gynaecologist<br />
					Medical Director</p>

					<p class="heading first">Mr.D.Swaminathan <span>(M.Sc.,[PhD])</span></p>
					<p>Scientific Director</p><br />
					<p class="second">ADVISORY PANEL:</p>
					<p class="heading first">Dr.(Mrs.) AP Murdoch MRCOG</p>
					<p>Medical Director.<br />
					Reproductive Medicine<br />
					Royal Victoria Infirmary<br />
					Newcastle up on Tyne NE14EP<br />
					United Kingdom</p>

					<p class="heading first">Dr.Mary Herbert <span> (Ph.D.)</span></p>
					<p>Senior Embryologist<br />
					Reproductive Medicine<br />
					Royal Victoria Infirmary<br />
					Newscastle up on Tyne NE1 4EP<br />
					United Kingdom</p>
				</div>
				<div class="mid_box">
					<p class="second">FELLOW DIRECTORS:</p>
					<p class="heading first">Dr.Ananthalakshmi <span>(MBBS DGO)</span></p>
					<p class="description">
					MBBS - Kasturba Medical College(1972). <br />
					DGO - Kasturba Medical College <br />
<span>(Successful consultant Obstetrician & Gynaecologist of Mangalore and Director of Multi-Speciality Hospital, Mangalore Nursing Home.)</span></p>
									<p class="heading first">Dr.Bharthi M.K.<span>(MBBS D.A)</span></p> 
					<p>
					MBBS - Kasturba Medical College(1972).<br /> 
					D.A - Kasturba Medical College <br />
					<span>(Now a teaching faculty in Anatomy in a medical Institution.)</span>
                                	</p>	 
				</div>
				<div id="right_box">
					<br />
					<p class="heading first">Dr.K.G.Bhat <span>(MBBS D.A)</span></p>
					<p>
					MBBS - Kasturba Medical College( with over 30 years ).<br /> 
					D.A - Kasturba Medical College 
<span>(Anesthesiologist with over 30 years experience in Wenlock Hospital and various Hospitals in Mangalore. He is the Managing Director of Mangalore Nursing Home.)</span></p>
					<p class="heading first">Mr.Rangamoorthy SR <span>(B.A)</span></p> 
					<p>
<span>(Successful Agriculturist & Social activist. Past the President of the Famous & one of the most successful Co-operative ventures of our region THE CAMPCO.)</span>
					</p> 
				</div>				
				
			</div>
	</div>
<!--End-Strength behind us-->
<!--Lab Services-->
	<div class="panel" title="Lab Services">
			<div class="wrapper">
				<h2>The first test tube baby center in mangalore</h2>
				<div class="left_box">
					<p class="second">All under ONE ROOF</p>
					<p class="text_align">
					SANTHATHI-Laboratory Service offers a comprehensive and all-under one roof facility with sophisticated instrumentation. </p>
					<p>This enables our task much easier and accurate for our patient management. Through quality control system the lab is monitored and there is no compromise on QUALITY, which will in return give us a very accurate test reports
					</p>
				</div>
				<div class="mid_box">
				<p class="second">We welcome and ready to serve the medical testing laboratories and individuals who are in need to avail this facility can approach us</p>
				<p> we will serve in all possible ways to get your lab investigations done at a right time with accuracy.</p>
				<ul>
					<li>Bio Chemistry Lab</li>
					<li>Andrology Lab</li>
					<li>Embryology Lab</li>
					<li>Genetic Counseling and referral lab Services</li>
				</ul>
				</div>
				<div class="right_box">
					<p class="second">Dedicated Counseling Services:</p>
<p>We will conduct regular and constant teaching programs to overcome all the odds related to: <p>
<p>Understanding the problem of Infertility,
 Treatment outcome etc.,</p>
				</div>
			</div>
		</div>
<!--End lab services--> 
<!--Foundation-->
		<div class="panel" title="Foundation">
			<div class="wrapper">
				<h2>The first test tube baby center in manglore</h2>
				<div class="foundation_content">
				<h3>The Future Ventures of Santhathi</h3>
				<h4>“Santhathi Foundation” – A Non-Profit outfit of Santhathi CRM.</h4>

<p>Look this space for further details: SOON the Santhathi Foundation will take shape to facilitate more and more needy people to understand the “HOLISTIC APPROACH” towards the management of Infertility and Healthy living. </p>
				</div>
			</div>
		</div>
	</div><!-- pannel-container -->
</div><!-- slider1 -->
