<table class="clinical-table">
  <% unless @prescribed_lab_tests.blank? %>
  <tr> 
      <th>Service </th>
      <th>Remarks </th>
      <th>Report</th>
      <th> </th>
  </tr>
 
  <% for test in @prescribed_lab_tests %>
        <tr>
            <td> <%= test.service.name %> </td>
            <td> <%= @prescription.remarks %> </td>
            <td> 
               <%= test.laboratory_report.blank? ? (link_to "Create report", new_laboratory_prescribed_test_laboratory_report_path(test.id)) : (link_to "View report", laboratory_prescribed_test_laboratory_report_path(:prescribed_test_id => test.id, :id => test.laboratory_report.id)) %>
            </td>
            <td> <%= link_to image_tag('destroy.png'),laboratory_prescribed_test_path(test.id), :confirm => 'Are you sure?', :method => :delete%>  </td>
        </tr>
  <%end%>
 <%end%>
</table>
