 <li>
      <%= link_to "#{service.name} Report", '#'%> 
      <% unless service.children.blank? %>
         <ul><%= render :partial => 'child_list', :collection => service.children, :as => :service %></ul>
      <% end %>  
 </li>
