<% content_for :header do -%>
    Sample List
<% end -%>
 <div id = 'top-links'>
   <div class = 'right'>
      <%= link_to("<span>New Sample</span>", new_admin_masters_sample_path(), :class => 'buttonAdd', :title => 'Create Sample')  %>
    </div>

    <div class = 'clear'></div>
  </div>
<%=render :partial=> 'filters'%>

  <div id='sample_list'>
     <%=render :partial=> 'samples_list'%>
  </div>

