<div class='continer'>
  <div class='continer-inner'>
  <h3>Showing Sample</h3><br />
<table class="form-table">
  <tr><th>Sample name:</th><td><%=h @sample.sample_name %></td></tr>
  <tr><th>Description:</th><td><%=h @sample.description %></td></tr>
  <tr><th>Used in diagnosis of:</th><td><%=h @sample.used_in_diagnosis_of %></td></tr>
</table>
<br/>
<br/>

<%= link_to 'Edit', edit_admin_masters_sample_path(@sample) %> |
<%= link_to 'Back', admin_masters_samples_path %>

</div>
</div>

