<div class='continer'>
  <h3 class= 'head'>Deactivated time slots &nbsp; &nbsp; <%= link_to image_tag('add.png'), new_cms_deactivate_slot_path %> <%= link_to "Create New", new_cms_deactivate_slot_path %></h3>
  <br/>
  <%= render :partial => 'filters' %>
 
 <div id='deactivate_slot'>
    <%=render :partial=> 'deactivate_slots_list' %>
  </div>

</div>
