 <li>
     <%=check_box_tag('services[]', service.id, checked = false )%> <%= service.service_name %> 
      <% unless service.children.empty? %>
        <ul><%= render :partial => 'child_list', :collection => service.children, :as => :service %></ul>
      <% end %>  
 </li> 
