<li> <%=link_to( image_tag("file-icon.gif", :border => 0), edit_laboratory_lab_test_path(service)) %>
   <%= link_to(service.name, edit_laboratory_lab_test_path(service)) %> ---- <%= link_to "View Parameter Specfications",  laboratory_lab_test_parameter_specifications_path(service), :class => 'green-link', :style => 'color: #419100;' %> 
   <% unless service.children.empty? %>
     <ul><%= render :partial => 'service', :collection => service.children %></ul>
   <% end %>
</li>
