<% content_for :header do -%>
  Listing all laboratory tests
<% end %>

     <%=render :partial=> 'filters'%>

  <div id='lab-test'>
    <div id="sidetree">
      <table><tr><td><div id="sidetreecontrol"><a href="?#">Collapse All</a> &nbsp;|&nbsp; <a href="?#">Expand All</a>&nbsp;|&nbsp;</div> </td>
        <td><%= link_to "<b>Create New Service</b>", new_laboratory_lab_test_path, :method => :get%></td></tr>
      </table>
        <br />
     <ul id="tree">
        <%= render :partial => 'service', :collection =>  @child_list %>
     </ul>
    </div>

  </div>

