<div class='continer'>

  <h3 class = 'head'>Creating new laboratory test</h3>

  <% form_for(:lab_test,:url => laboratory_lab_tests_path(), :html => {:method => :post , :id => 'main_form'}) do |f| %>
  <%= f.error_messages %>

  <table class="form-table">
     <tr> <th><%= f.label :test_name %>:</th>
     <td><%= f.text_field :name, {:class => 'textbox'} %></td> </tr>

     <tr><th><label>Approximate Time For Test:</label></th> <td><%= time_select("lab_test", "duration")  %></td></tr>
     <tr> <th><%= f.label :pre_requisites %>:</th>
     <td><%= f.text_field :pre_requisites, {:class => 'address'} %></td> </tr>

     <tr> <th> <label>Parent Service:</label> </th>
          <td colspan=3>
             <ul id='tree'><div id = 'child_list'>
               <%= render :partial => 'child_list', :collection => @child_list, :as => :service %> </div></ul>
         </td>
     </tr>
  </table> <br/>

  <input type="hidden" id = "lab_test_parent_id", name="lab_test[parent_id]" value="">
  <%= image_submit_tag "create.gif" %>


  <% end %>


</div>
