<div class='continer'>

  <h3>Showing Service</h3><br />
  <table class="form-table">
  <tr>
    <th>Registration summary:</th>
    <td><%=h @lab_test.name %></td>
  </tr>
 <tr>
    <th>Description:</th>
    <td> <%=h @lab_test.pre_requisites %></td>
 </tr>
  <tr>
  <td>
    <%= link_to "Sample Specfications", lab_test_sample_specfications_path(:id => @lab_test.id) %> </td>
  </tr>
  <td>
    <%= link_to "Parameter Specfications",  lab_test_parameter_specifications_path(:id => @lab_test.id ) %> </td>
  </tr>
</table>
<br/><br/>


</div>
