<ul>
    <li> <%= link_to "Appointments reports" , pms_pms_reports_path(:type =>"Appointment") %> </li>
    <li> <%= link_to "Registration Reports" , pms_pms_reports_path(:type =>"Registration") %> </li>
    <li> <%= link_to "Visit Reports" , pms_pms_reports_path(:type =>"vist_report") %> </li>
</ul>

