<div>
<table class="form-table">
  <tr> <th><label> Multiple Options saparated by (,) </label></th>
  <td>
     <input id="multi_values" name="values" size="30" type="text"  class="textbox" />
         </td></tr>

</table>
</div>
