<div class='continer'>
  <div class='continer-inner'>

<h3>Editing parameter</h3><br/>


<% form_for(:parameter , :url => laboratory_parameter_path(@parameter) ,:html => { :method => :put } ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>
  <br />
  <%= f.submit "Update" %>

<% end %><br/>


<%= link_to 'Back', laboratory_parameters_path %>
</div>
</div>
