<% content_for :left_header do -%>
   Editting parameter record
<%end-%>


<% form_for(:parameter , :url => laboratory_parameter_path(@parameter) ,:html => { :method => :put } ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>
  <br />
  <%= f.submit "Update" %> or <%= link_to 'Cancel', laboratory_parameters_path %>

<% end %><br/>




