<% content_for :left_header do -%>
  Listing all parameter records
<%end-%>

	 <%=render :partial=> 'filters'%>
	 <br />

	<div id='parameters_list'>
    	<%=render :partial=> 'parameters_list'%>
    </div>

