<div class='continer'>
  <div class='continer-inner'>
    <h3>New parameter</h3><br/>

    <% form_for(:parameter , :url => laboratory_parameters_url , :html => { :method => :post } ) do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'fields', :locals => {:f => f} %>
      <br/>
      <%= submit_tag "create" %>

    <% end %>

<%= link_to 'Back', laboratory_parameters_path %>
</div></div>
