<% content_for :header do -%>
   New parameter record
<%end-%>

    <% form_for(:parameter , :url => laboratory_parameters_url , :html => { :method => :post } ) do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'fields', :locals => {:f => f} %>
      <br/>
      <%= submit_tag "Create" %> or <%= link_to 'Cancel', laboratory_parameters_path %>

    <% end %>

