html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,textarea, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin : 0; padding : 0; border : 0; outline : 0; vertical-align : baseline}
:focus {outline : 0}

table {border-collapse : separate; border-spacing : 0}
caption, th, td {text-align : left; font-weight : normal}
blockquote:before, blockquote:after, q:before, q:after {content : ""}
blockquote, q {quotes : "" ""}

body {
	font-family : "arial", helvetica, sans-serif;
	color: #000;
	margin:0px;
	padding:0px;
	background-color:#2c2b2b;
	
}

/*..............................header .............................*/

#header{
	width:950px;
	background-color:#000;
	margin:0 auto;
	height:105px;        
}

#logo{
	width:65px;
	margin:10px 0px 0px 50px;
	float:left;	
}

#site_heading {
	width:500px;
	float:left;
	
}
#site_heading h1{
	font-family : "arial", helvetica, sans-serif;
	color:#fff;
	margin:30px 0px 25px 10px;
}

#site_heading h1 span{
	color:#fff;
	font-size:13px;
	letter-spacing:.8px;
}

.login_form{
	width:300px;
	margin:10px 30px 0px 5px;
	text-align:right;
	float:right;
}

.login_form a{
       color:#fff;
       font-size:12px;
       text-decoration:none;
}

.login_form a:hover{
       color:#a00017;
       text-decoration:underline;
}


#outer_image{
	width:900px;
	margin:0 auto;
	height:250px;
	background:#a4a4a6;	
}

#inner_image{
	height:230px;
	margin:10px;
	background:url(/images/site/Header.jpg) no-repeat ;	
}

/*.....................................Layout.........................*/

.container{
	width:950px;
      	margin:0 auto;
	background:#fefefe url(/images/site/container.gif) repeat-x ;
}

.container h2{
	font-size:25px;
	color:#1b1d78;
	margin:10px 120px 15px 15px;
	padding:15px 0px 0px 15px;
	text-align:left;
	font-weight:normal;
        line-height:25px;
	font-family:Verdana, Arial, Sans-Serif;
}

p.third{
	color:#1b1d78;
}

p.heading{
	margin-bottom:0px;
}

p span{
	font-size:12px;
	color:#5a5757;
}


/*..................Left content box........*/

.left_box{
	width:280px;
	height:550px;
	margin:0px 0px 0px 10px;
	float:left;
	border-right:1px solid #9a9999;
	padding:8px 18px 8px 25px;
}

.left_box p{
	font-size:15px;
	margin-bottom:20px;
}

.left_box p.heading{
	margin-bottom:0px;
}

.left_box p.heading span{
	font-size:12px;
	color:#000;
}

#photo{
	margin-left:50px;
	
}

/*..................middle content box........*/

.mid_box{
	width:250px;
	height:550px;
	margin:0px 0px 0px 0px;
	float:left;
	border-right:1px solid #9a9999;
	padding:8px 8px 8px 25px;
}

.mid_box p{
	font-size:15px;
	margin-bottom:20px;
	text-align:left;
       }


p span{
	font-size:13px;
	font-style:italic;
	
}

.mid_box p.heading{
	margin-bottom:0px;
}

.mid_box p.heading span{
	font-size:12px;
	color:#000;
}

.mid_box ul{
	margin:0px 0px 0px 20px;
	padding:0px 0px 0px 0px;
}

.mid_box ul li{
	margin:0px 0px 5px 0px;
	padding:0px;
	font-size:13px;
	list-style:dotted;
	color:#000;
}

/*..................right content box........*/

.right_box{
	width:270px;
	height:550px;
	margin:0px 0px 0px 0px;
	float:left;
	padding:8px 8px 8px 15px;
}

.right_box p{
	text-align:justify;
	font-size:15px;
	margin-bottom:20px;		
}

.right_box p.heading{
	margin-bottom:0px;
}

.right_box p.heading span{
	font-size:12px;
	color:#000;	
}



/********************Strength behind us**/
#right_box{
	width:270px;
	height:550px;
	margin:20px 0px 0px 0px;
	float:left;
	padding:8px 8px 8px 25px;
}

#right_box p{
	text-align:justify;
	font-size:15px;
	margin-bottom:20px;		
}

#right_box p.heading{
	margin-bottom:0px;
}

#right_box p.heading span{
	font-size:12px;
	color:#000;
}


/****************************Foundation*************/
.foundation_content{
	width:670px;
	height:550px;
	margin:0px 0px 0px 10px;
	float:left;
	padding:8px 8px 8px 25px;
}

.foundation_content h3{
	font-size:18px;
	font-weight:normal;
	color:#1b1d78;
	margin-bottom:5px;
}

.foundation_content h4{
	font-size:15px;
	font-weight:normal;
	color:#1b1d78;
	margin-bottom:10px;
}

.foundation_content p{
	font-size:14px;
	color:#000;
}


/*********Slider*************************************/	

.slider-wrap {
	margin: 0 auto;
	float:left;
	position: relative;
	overflow:hidden;
}

.stripViewer {
	position: relative;
	width:920px;
	overflow: hidden;
	margin: auto;
	clear: both;
}

.stripViewer .panelContainer {
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
}

.stripViewer .panelContainer .panel { 
	float:left;
	height: 100%;
	position: relative;
	width: 950px; 
        margin:3px 0px 0px 0px;
        background:url(/images/site/mother_baby.jpg) no-repeat left top;
}

.stripViewer .panelContainer .panel .wrapper { 
	width:950px;
	}


.stripNav {
	margin:0px 0px 0px 0px;
	width:980px;
	height:35px;
}

.stripNav ul {
	list-style: none;
	margin:0px 0px 0px 35px;
	padding:0px 0px 0px 0px;
	width:900px;
	font-family:Verdana, Arial, Sans-Serif;
}

.stripNav ul li {
	float: left;
	margin:0px 5px 0px 2px;
	padding:0px 0px 0px 0px;
	height:35px;
}

.stripNav a { /* The nav links */
	font-size: 13px;
        margin:0px 0px 5px 2px;
	color:#000;
	font-weight:bold;
	text-decoration: none;
	display: block;
	text-transform:uppercase;
	padding: 10px 12px 10px 12px; 
	font-family : "arial", helvetica, sans-serif;
}


.stripNav a:hover { /* The nav links */
	font-size: 13px;
        margin:0px 0px 5px 2px;
	color:#000;
	text-decoration: none;
	display: block;
	padding: 10px 12px 10px 12px; 
}

.stripNav li.tab1 a.current {
	color:#1b1d78;
}

.stripNav li.tab2 a.current {
	color:#1b1d78;
}

.stripNav li.tab3 a.current {
	color:#1b1d78;
}

.stripNav li.tab4 a.current {
	color:#1b1d78;
}

.stripNavL, .stripNavR { /* The left and right arrows */
	position: absolute;
	top: 230px;
	text-indent: -9000em;
}

.stripNavL a, .stripNavR a {
	display: block;
	height: 40px;
	width: 40px;
}
/*............................................footer....................................*/
.footer{
	width:950px;
	margin:0 auto;
	height:15px;
	padding:10px 0px 0px 0px;
	background-color:#c6c0c0;
	
}
.footer p{
	color:#000;
	text-align:center;
	font-size:11px;
}
.footer p a{
	color:#a60118;
	text-decoration:underline;
}
.footer p a:hover{
	color:#000;
	text-decoration:none;
}


	

