<% form_tag(measurement_units_url, :method => :get, :id => "search_form") do %>
   <table class="search-table">
     <tr>
       <th> Name </th> <th>Abbrevation</th>
       <th rowspan='2'><input type="reset" value="Reset"> </th>
     </tr>
     <tr>
       <%fields_for @search do |f|%>
          <% f.fields_for @search.conditions do |p| %>
              <td><%= p.text_field :name_like, :class => 'textbox' %></td>
              <td><%= p.text_field :abbreviation_like, :class => 'textbox' %></td>
          <%end%>
       <%end%>

       </tr>
  </table>
<% end %>

<%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => measurement_units_url, :method => :get) %>

<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
