<div id=patients_list>
<% unless @patients.blank? %>
  <table id="patients">
    <thead>
      <tr>
        <th>Name</th>
        <th>Reg. No</th>
        <th>Phone</th>
	<th>Select</th>
      </tr>
    </thead>
    <% for patient in @patients %>
       <tbody>
         <tr>
           <td> <%=h patient.patient_name %></td>
           <td> <%=h patient.reg_no %> </td>
           <td> <%=h patient.contact_no %></td>
	   <td> <%=radio_button_tag ('patient', patient.id, checked = false)%></td>
          </tr>
       <tbody>
    <% end %>
  </table>
 <%else%> 

 <p>No patient found for this search criteria. </p>
<%end%>
</div>
