

     
     <table class='time-slots'><tr><th><b>Slot</b>&nbsp; </th><th><b>Name</b> </th> <th><b>Register No</b></th></tr></table>
     <div id="schedule">
        <%=render :partial => "appointments_detail", :locals => {:doctor => nil, :date => nil}%> 
     </div>


