<div class='continer'>
  <h3 class = 'head'> Listing Appointments &nbsp; &nbsp; <%= link_to image_tag('add.png'), new_pms_appointment_path %> <%= link_to "Create New", new_pms_appointment_path %></h3>
  
  <%=render :partial=> 'filters'%>
 
  <div id='appointment-list'>
     <%=render :partial=> 'appointments_list'%>
  </div>

</div>
