<div class='continer'>
  <h3> Appointments List </h3>
  <%=render :partial=> 'filters'%>
  <br />
  <div id='appointment-list'>
     <%=render :partial=> 'appointments_list'%>
  </div>
  <table></table>

</div>
