
   <% content_for :header do -%>
     Creating new appointment
   <% end %>

   <% form_for :appointment, :url => pms_appointments_path, :html => {:id => 'main_form'} do |f| %>
      <%= error_messages_for 'appointment', 'patient' %>
      <%=render :partial => 'appointment_fields', :locals => {:f => f} %>

      <div id="main_schedules">
         <%= render :partial => 'schedules' %>
     </div>
     <div class = 'clear'> </div>
      <hr />
      <button>Book appointment</button> or <%= link_to 'Cancel and return to appointment list', pms_appointments_path %>
   <% end %>
 
   

   


