body {       	
    font: 1em Verdana, Arial, Sans-Serif; 
	
	/*background: #00c9ee repeat-x ;*/
    /*background: #b2d5e5;*/
	background: #55ABD5;
	color: #666666;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	min-width: 900px;
}
a:link, a:visited {
	color: #0054ff;
}
a:hover {
	color: #87CEFA;
}
input {
	font-size: 1.1em;
}

input.textbox{
	border:#7D99B2 1px solid;
	background:#fff url(/images/field-top.gif) repeat-x top;
	padding:3px 2px;

	width:150px;
}

input:focus, textarea:focus{
	background:#fff url(/images/field-top.gif) repeat-x top;
	border:#34718e 1px solid;
}

label {
	font-weight: bold;
    /*color: #5a869a;*/
}

select {
 font: 1em Verdana, Arial, Sans-Serif;
 background:#ffffff; 
 border:#7D99B2 1px solid;
}   

fieldset 
{
	border:none;
}

ul {
	padding-left: 2em;
	margin-left: 0;
}
h2 {
font-size:16px;
color: #50798c;
line-height: 3px;
}

h3 {
font-size:14px;
color: #50798c;
line-height: 3px;
}


/** Header */
#header {
	margin: 0px 0px 10px 0px;
	padding: 0em 0em 0em 0em;
	/*position: absolute;*/
	background: url(/images/top-bar-12.png) repeat-x;
	height: 70px;
}
#header h1 {
	float: left;
	font-weight: normal;
	color: #FFFFFF;
	padding: .2em  0em  0em  .5em ;
	margin: 0px;
}
#header h1 span {
	font-size: 0.4em;
	color: #bfd82d;
}
#global_links {
	float: right;
	font-size: 0.8em;
	color: #e3fdff;
	padding: 3px 2px 0px 0px;
}
#global_links a {
	color: #e3fdff;
}
#global_links a:hover {
	color: #00a8c6;
	background-color: #e3fdff;
}


/** Main body */
#main {
	margin: 0 0 0 0;
	height: 100%;
	clear:both;
}

/** Left column */
#left, #right {
	float: left;
}
#left {
	/*background: #104E8B;*/
	/*background: #82B8E4;*/
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
}
#left .head {
	color: #204ca0;
	font-weight: normal;
	background-color: #d3dbff;
	padding: 0.7em 1em;
	margin: 0;
	font-size: 1.3em;width: auto;
}
#left #screen {
	padding: 0 1em 1em;
}

#left #notice {
	color: #6d9100;
	padding: 0.1em 1em;
	margin: .5em 1.5em;
	background-color: #e5ffba;
	font-weight: bold;
}
#left #error {
	color: #9f1d20;
	padding: 0.7em 1em;
	margin: 1em 1.5em;
	background: #ffb7bc;
	font-weight: bold;
}
#left #warning {
	color: #ee9a00;
	padding: 0.7em 1em;
	margin: 1em 1.5em;
	background-color: #fff1c0;
	font-weight: bold;
}
/** Scaffold styles */
.fieldWithErrors {
	padding: 1px;
	background-color: red;
	display: table;
	border: 1px solid red;
}
#errorExplanation {
	width: 400px;
	border: 1px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}


/** Footer */
#footer {
	clear: both;
	padding: 0px 10px 10px 10px;
	margin:10px 15px 10px 15px;
	color: #b5aea1;
	font-size: 0.8em;
	background: #ffffff;
}


/* Pagination */
.pagination {
	text-align: right;
	padding: 3px;
	margin: 3px;
}
.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aaa;
	text-decoration: none;
	color: #666;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid #666;
	background-color: #aaa;
	color: #000;
}
.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #666;
	font-weight: bold;
	background-color: #666;
	color: #FFF;
}
.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #eee;
	color: #ddd;
}
#submitbutton {
	margin: 0.8em;
	text-align: right;
}


/*------------------------For appointment booking page\------------------*/
#main-scedules { 
 color: #333;
 width: 36%;
 float: right;
 padding:0px 0px 0px 10px;
 background: #ffffff;
 height: 420px;
 border: #ddd 1px solid;
}

#new-booking { 
 float: left;
 width: 61%;
 display: inline;
 padding:0px 0px 0px 10px;
 background: #ffffff;
 border: #ddd 1px solid;
 height: 420px;
}

#new-appointment {
	float: left;
 	width: 30%;
 	background: #000;
 		
}

.continer{ background: #ffffff;
           height: 410px;
           padding: 5px 0px 0px 30px;}

.continer-show{ background: #ffffff;
           height: 300px;
           padding: 25px 0px 25px 25px;}
		   
.form-wrapper{
 margin: 0 auto;
}

#schedule {
           height: 320px;
           overflow: auto;
           
           /*border: 1px solid #778899;*/
          }
#patients_list{
           height: 95px;
           overflow: auto;
           width: 85%;
           border: 1px solid #e6f6fd;
          }

table.time-slots td {
	border: 1px solid #ced8dc;
	padding: 0.2em 1ex 0.2em 2em;
	color: black;
	font-size: 11px;
}

table.time-slots th {
	padding: 0em 1.2em;
        background-color: #cde8f4; 
        color: #557685;
        font-size: 12px;
}

table.time-slots tr.d0 td {
	background-color: #FCF6CF;
	
}
table.time-slots tr td.available {
	background-color: #c3ffb5;
        margin:0px;
	width:100px;
        padding: 1px 0px 1px 0px;
        line-height: normal;
}

table.time-slots tr td.available a {
	 color: #4082bf;
	 font-weight:bold;
}

table.time-slots tr td.available a:hover {
	 color:#dfeff1;
	 font-weight:bold;
}


table.time-slots tr td.available-new {
	background-color:#fff;
        margin:0px;
	width:120px;
        padding: 1px 0px 1px 0px;
        line-height: normal;
}


table.time-slots tr.appointment td {
	background-color: #fffdea;
        margin:0px;
        padding: 1px 0px 1px 0px;
        line-height: normal;
}

/* -------------------------------------=Links----------------------------*/
 a { text-decoration: none; }


	
/*-----------------For table alternate row color ---------------------------*/
.odd {background: #eff7fb;}
 
.listing tr:hover {background-color: #c7dfea; color: #ffffff;} /*not for IE*/
.listing th {background-color: #c6d3dc;
             color: #667987;
}
.listing th {padding: 0.1em .8em;
             border:1px solid #c6c8c9;}
.listing td {padding: 0em 1em;
             border:1px solid #c6c8c9;}
.listing{
	    border-collapse: collapse;
            width: auto;
            border: 1px solid #c6c8c9;
}

#patients tr:hover {background-color: #c7dfea; color: #ffffff;} /*not for IE*/
#patients th {background-color: #b4c9d2;
             color: #F5FFFA;
}
#patients th {padding: 0em 1em;
              border:1px solid #575a59;}
#patients td {padding: 0.1em 1em;
              border:1px solid #575a59;}
#patients{
	    border-collapse: collapse;
            /*width: auto;*/
            border: 1px solid #d2dade;
}

/* Menu */

#menu {
	float: left;
	padding: 0;
	margin: 0px 0px 0px 14px;
	list-style: none;
     	width: 540px;
	

}
#menu ul{
	margin:0;
	padding:0px 0px 0 0px;
	list-style:none;

}

 
#menu li {
	display:inline;
      margin:0;
      padding:0px;

}

#menu li a {
	display: block;
	float: left;
	margin:21px 0px 0px 0px;
	padding: 4px 1px 0px 1px;
	width:92px;height:21px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	color: #015982;
	text-align:center;
	background-image: url('/images/nw-tab.gif');

}

#menu li a:hover {
	display: block;
	float: left;
	padding: 4px 1px 0px 1px;width:92px;height:21px;
	text-transform: uppercase;margin:21px 0px 0px 0px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-align:center;
	color: #4b4b4b;
	background-image: url('/images/nw-tab1.gif');
}


#sub-menu {
    clear: both;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px 10px 0px 60px;
	list-style: none;
    height:30px;
	margin: 0;
	list-style: none;
}
#sub-menu ul {
	 margin:0;
	 padding:0px 0px 0 0px;
	 list-style:none;

}


#sub-menu li {
	display:inline;
      	margin:0;
      	padding:0;
	
}

#sub-menu li a {	
	float: left;
	padding: 0px 0px 0px 40px;
	margin: 3px 0px 0px 0px;
	text-decoration: none;
	font-size: 11px;
	color: #4b6977;
	

}
#sub-menu li a:hover {	
	float: left;
	padding: 0px 0px 0px 40px;
	margin: 3px 0px 0px 0px;
	text-decoration: none;
	font-size: 11px;
	color: #81c2e1;
}


#appointment_submit{
	 background: #F1F8FF;
	 color: #6B6A7B;;
	 font-weight: bold;
	 padding: 1px 0px 1px 0px;
	 font-size: 12px;
}

#patient-search-header span {
	font-size: 0.7em;
	font-weight: normal;
}

/*round corner */
#left-login {
   background: #FFFFFF;
   height: 420px;
   margin: 0px 20px 0px 20px;
}

#login-box {
  margin: 0 auto;
  background: #55ABD5;
  width: 300px;
  height: 100%;
  padding: 0px 0px 10px 40px;
}

#login-logo {
  margin: 0 auto;
  width: 300px;
  
  padding: 0px 0px 10px 40px;
}

#login-box label {
	font-weight: bold;
        color: #ffffff;
}
/*
hr {
  border: 0;
  width: 98%;
  background-color: #c7dfea;
  height: 1px;
}*/

#calendar-display {
	float: left;
 	width: 20%;
 	padding:5px 5px 0px 0px;
        float:left;
 		
}
#new-department {
	float: left;
 	width: 55%;
 	padding:0px 5px 0px 0px;
        float:right;
	margin:8px 0px 0px 0px;

 		
}

#new_patient {
	float: left;
	margin:8px 0px 0px 5px;
 	padding:0px 5px 0px 0px;
        float:left;
        clear:both;
        width: 100%;
}

#patient_search{
    float: left;
	margin:8px 0px 0px 5px;
 	padding:0px 5px 0px 0px;
    width: 100%;
    float:left;
    clear:both;    
}
