/* COMMON */
	

	.clear{
		clear:both;
		float:none;
		height:0px;
	}

	/* NAVIGATION */
	.navigation{
		width:11.3%;
		height:80%;
		margin: 5px 5px 0px 5px;
		border:solid 2px #80C6E7;
		background-color:#ffffff;
		float:left;
		vertical-align:bottom;
		position:relative;
	}
	.navPanel{
		padding:5px;
		height:60%;
	}

	/* CONTENT */
	.content{
		width:85%;
		margin: 5px 0px 0px 0px;
		background-color:#ffffff;
		
		vertical-align:top;
		float:left;
	}
	.contentPanel{
		padding:10px;
		overflow:auto;
	}



ul#menu1, ul#menu1 ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 12em;
}

ul#menu1 a {
  display: block;
  text-decoration: none;	
}

ul#menu1 li {
  margin-top: 1px;
}

ul#menu1 li a {
  background: #7ED1F8;
  color: #000;	
  padding: 0.5em;
}

ul#menu1 li a:hover {
  background: #bbe9ff;
}

ul#menu1 li ul li a {
  background: #effaff;
  color: #000;
  padding-left: 20px;
}

ul#menu1 li ul li a:hover {
  background: #effaff;
  border-left: 5px #000 solid;
  padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
