p {
  line-height: 1.5em;
}

ul#menu1, ul#menu1 ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 12em;
}

ul#menu1 a {
  display: block;
  text-decoration: none;	
}

ul#menu1 li {
  margin-top: 1px;
}

ul#menu1 li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}

ul#menu1 li a:hover {
  background: #000;
}

ul#menu1 li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul#menu1 li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }