body {
      font: 12px Verdana, Arial, Sans-Serif, Serif;    
      color: #000;

      }

a:link, a:visited {
	color: #0D5CF5;
}
a:hover {
	color: #0D5CF5;
}

#container, #main {
  width: auto;
  height: auto;
  float: none;
}

#header {
  display: none;
}

.hide-for-print{
  display: none;
}

.navigation {
  display: none;
}

.search-table{
  display: none;
}

.table-footer{
  display: none;
}

.listing th {background: #F9F9F2;
             color: #000;
             text-align: left;
             padding: 0.3em .5em;
             border:1px solid #ccc;
             font-weight: normal;
}

.listing td {font-size: 12px;padding: 1.3em .5em .3em .5em; color: #000; border-bottom:1px solid #BDCFE1;}


.listing{   border-collapse: collapse;
            width: 100%;
            color: #000;
            border:1px solid #BDCFE1;
}
.listing a {
	     color: #000;
             
            font-size: 12px;
}
