/*---------------------------CMS-reasons----------------*/
#reason-display {border:1px solid #e8ebec;}

.reason{
    width :100%;
    height :15px;
    font-size: 11px;

}
#color1{
  background-color :#eed4b5;
  width :15px;
  height :15px;
}
#color2{
  background-color :#e2cdee;
  width :15px;
  height :15px;
}
#color3{
  background-color :#cdeecd;
  width :15px;
  height :15px;
}
#color4{
  background-color :#ebadb0;
  width :15px;
  height :15px;
}
#color5{
  background-color :#d8e9f3;
  width :15px;
  height :15px;
}
#color6{
  background-color :#e5ff88;
  width :15px;
  height :15px;
}
#color7{
  background-color :#f6adcf;
  width :15px;
  height :15px;
}
#color8{
  background-color :#d2d2d2;
  width :15px;
  height :15px;
}
#color9{
  background-color :#b3e5fd;
  width :15px;
  height :15px;
}

