<%content_for :header do %>
 Listing Inventory items used for the test <%=@lab_test.name%> 
<% end %>

<%= link_to "<span>Add another inventory item</span>",  new_laboratory_lab_test_inventory_items_used_for_test_path(@lab_test), :class=> "buttonAdd" %>

<table class="listing">
  <tr>
    <th>Item name </th>
    <th>Quantity</th>
    <th> Show | Edit | Delete </th>
  </tr>

<% for item in @items_used %>
  <tr>
    <td><%=h item.inventory_item_id %> </td>
     <td><%=h item.quantity %> </td>
    <td><%= link_to 'Show', laboratory_lab_test_inventory_items_used_for_test_path(@lab_test, item) , :rel=> "facebox" %> |
    <%= link_to 'Edit', edit_laboratory_lab_test_inventory_items_used_for_test_path(@lab_test, item) %> |
    <%= link_to 'Destroy', laboratory_lab_test_inventory_items_used_for_test_path(@lab_test, item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br/>

<%= link_to "Back" , edit_laboratory_lab_test_path(@lab_test)%>
 
