  <h1> Santhathi <span>Center for reproductive medicine</span></h1>
       <div id="profile_info">
	      <img src="/images/img/avatar.jpg" id="avatar" alt="avatar" />
	      <p>Welcome <strong>Vijendra</strong>. <a href="#">Log out?</a></p>
	      <p>System messages: 3. <a href="#">Read?</a></p>
	      <p class="last_login"> Last login: 21:03 12.05.2009</p>
	   </div>
     <%= render :partial => 'shared/tabs' %>
