
  <dl class="dropdown">
    <dt id="one-ddheader", onmouseover="ddMenu('one',1)" onmouseout="ddMenu('one',-1)">Transact</dt>
    <dd id="one-ddcontent", onmouseover="cancelHide('one')" onmouseout="ddMenu('one',-1)">
      <ul>
        <li><%= link_to "Measurement Unit", measurement_units_url %></li>
        <li><%= link_to "Samples", samples_path %></li>
        <li><%= link_to "Parameters", parameters_url %></li>
      </ul>
     </dd>
  </dl>
