<script type="text/javascript">
		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});

</script>

<ul class="sf-menu hide-for-print">
     <li><%= link_to "Prescribed tests" , laboratory_prescribed_tests_url %> </li>
   		<li><%= link_to "Prescriptions" , laboratory_prescriptions_url %> </li>

</ul>

