<div id="menu">
   <ul>
        <li><%= tab_to "PMS", [{:controller => "pms/appointments" , :action => "index"}] %></li>

	           <% if doctor? or admin? -%>
	              <li>  <%= link_to "CMS",  cms_doctor_patients_url(current_user.id)  %>  </li>
	           <% end %>


        <li><%= tab_to "Laboratory",[{:controller => "laboratory/prescribed_tests" ,:action =>"index"}] %></li>
        <li><%= tab_to "Accounts", [{:controller => "admin/pms"}] %></li>
   </ul>
</div>
