<div class='continer'>

 <%=render :partial=> 'filters'%>

  <h3 class='head'>Listing All Departments</h3>
  <div id='department_list'>
     <%=render :partial=> 'departments_list'%>
  </div>

</div>
