<h1>Listing laboratory_reports</h1>

<table>
  <tr>
  </tr>

<% for laboratory_report in @laboratory_reports %>
  <tr>
    <td><%= link_to 'Show', laboratory_report %></td>
    <td><%= link_to 'Edit', edit_laboratory_report_path(laboratory_report) %></td>
    <td><%= link_to 'Destroy', laboratory_report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New laboratory_report', new_laboratory_report_path %>
