<% content_for :sidebar do -%>
  <div class="search1">
    <% form_remote_tag(:url => admin_masters_deactivate_slots_path, :method => :get) do %>
      <% fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
          <% if admin? %>
            <% p.fields_for p.object.doctor do |doctor| %>
               <p> <%=  doctor.select :id ,  [['Select doctor' , '']] + Doctor.doctors_list, :class =>'select-list' %> </p>
            <% end %>
          <% end %>
          <p> Date: </label> <%= p.text_field :from_date_like , :class => 'textbox-small' ,:id => 'date' %> </p>
        <% end %>
      <% end %>
      <input type="reset" value="Reset">  &nbsp;&nbsp; <%= submit_tag "Search" %>
	  <% end %>
   </div>
<%end-%>

