<table class="clinical-table">
  <tr>
    <th style ='width: 80px;'>PVR No</th>
    <th>Comment</th>
  </tr>

<% @clinical_comments.each do |clinical_comment| %>
  <tr>
    <td><%=h @appointment.id %></td>
    <td><%=h clinical_comment.commet %></td>
  </tr>
<% end %>
</table>
