<table class ='listing'>
  <tr>
    <th>PVR No</th>
    <th>Commet</th>
  </tr>

<% @clinical_comments.each do |clinical_comment| %>
  <tr>
    <td><%=h @appointment.id %></td>
    <td><%=h clinical_comment.commet %></td>
  </tr>
<% end %>
</table>
