 <% form_for(@clinical_comment, :url=>cms_appointment_clinical_comment_path(:appointment_id => @appointment), :html=>{:method=>:post} ) do |f| %>
  <%= f.error_messages %>
  <p>
    <b>Enter clinical comment:</b> <br />
    <%= f.text_area :commet, :class =>'textbox'%> <br />
    <%= submit_tag 'Submit' %>
  </p>
<% end %>

