<% content_for :left_header do -%>
  Listing all measurement unit records
<%end-%>

 <%=render :partial=> 'filters'%>

  <div id='measurement_unit'>
     <%=render :partial=> 'measurement_units_list'%>
  </div>

