<% content_for :header do -%>
   Showing Registration Summary
<% end -%>

   <table class="form-table">
  <tr> <th>Registration summary:</th><td>
  <%=h @registration_summary.name %></td></tr>
 <tr> <th>Description:</th><td>
  <%=h @registration_summary.description %></td></tr>
</table>
<br/><br/>


<%= link_to 'Edit', edit_admin_masters_registration_summary_path(@registration_summary) %> |
<%= link_to 'Back', admin_masters_registration_summaries_path %>

