<% content_for :header do -%>
   Listing all appointments
<%end-%>
  <br />
  <%= render :partial => 'filters' %>
  <div id='appointment-list'>
     <%=render :partial=> 'appointments_list_table'%>
  </div>

