 <li>
   <%= link_to h(service.name), lab_test_path(service) %>
   <% unless service.children.empty? %>
     <ul><%= render :partial => 'service', :collection => service.children %></ul>
   <% end %>
 </li>
