 <% content_for :header do -%>
   Listing all prescribed tests
 <% end -%>


 <%=render :partial=> 'filters'%>

  <div id='prescription-list'>
     <%= render :partial=> 'prescription_list'%>
  </div>

