<div class='continer'>
<% form_for :patient1, :url=> patient_path(@patient), :html=>{:method=>:put} do |f| %>
  <%= f.error_messages %> 
  <%= render :partial => @partail, :locals => {:f => f} %>
  <p> <%= f.submit "Register" %> </p>
<% end %>

<%= link_to 'Patients list',patients_path %>
</div>
