<div class='continer'>
   <div class='continer-inner'>
      <% form_for :patient1, :url=> patient_path(@patient1, :type => params[:type]), :html=>{:method=>:put} do |f| %>
 	 <%= f.error_messages %> 

  	 <%= render :partial => @partail, :locals => {:f => f} %>
           <p>
  	     <table><tr><td><a class="button" onclick="$(this).up('form').submit(); return false;"><span>Register</span></a></td> 
             <td><%= link_to "<span>Patients list</span>", patients_path, :class=> "button"%> </td>
             <td><%= link_to "<span>Cancel</span>", patients_path, :class=> "button" %></td></tr></table>
           </p>
      <% end %>
   </div>
</div>
