<% content_for :sidebar do -%>
  <div class="search1">
    <% form_remote_tag(:url => cms_pharamacy_item_informations_url, :method => :get) do %>
      <%fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
          <p> <label> Item Name: </label> <%= p.text_field :item_name_like ,:class =>'textbox-small' %> </p>
          <p> <label>Item Code: </label>  <%= p.text_field :item_code_like ,:class =>'textbox-small' %> </p>
          <p> <label> Category name: </label>  <%= p.text_field :category_name_like ,:class =>'textbox-small' %> </p> 
        <%end%>
      <%end%>
      <input type="reset" value="Reset"> &nbsp;&nbsp; <%= submit_tag "Search" %> 
	  <% end %>
  </div>
<%end-%>  

