<div class='continer'>
  <div class='continer-inner'>
  <div id='appointment-list'>
    <%=render :partial=> 'appointments_list'%>
  </div>	
  <br />
  </div>
</div>

<script type="text/javascript">
  jQuery(".continer").corner("corner 5px") 
  jQuery(".continer-inner").corner("corner 5px") 
</script>
