<div class='continer'>
    <%=render :partial=> 'filters'%>
    <div id='select_option_list'>
        <h3 class = 'head'> Listing All <%= params[:type].pluralize%> </h3>
        <%=render :partial=> 'select_option_list'%>
    </div>
</div>
