<% content_for :header do -%>
   Listing patients to be discharged
<%end-%>

  <%= render :partial=> 'pms/appointments/filters'%>

  <div id='appointment-list'>
     <%=render :partial=> 'appointments_list'%>
  </div>

