<% content_for :header do -%>
  New laboratory test
<% end %>

  <% form_for(:lab_test,:url => admin_masters_lab_tests_path(), :html => {:method => :post , :id => 'main_form'}) do |f| %>
  <%= f.error_messages %>

  <table class="form-table">
     <tr> <th><%= f.label :test_name %></th>
     <td><%= f.text_field :name, {:class => 'textbox'} %></td> </tr>
     <tr> <th><%= f.label :lab_test,'Lab Test' %></th>
     <td><%= f.check_box :lab_test %> (UnSelect for other than Lab test EX:Ultrasound Scan)</td> </tr>
     <tr><th><label>Approximate time for test</label></th> <td><%= time_select("lab_test", "duration")  %></td></tr>
     <tr> <th><%= f.label :pre_requisites %></th>
     <td><%= f.text_area :description, :class => 'textbox' %></td> </tr>

     <tr> <th> <label>Parent service</label> </th>
          <td colspan=3>
             <ul id='tree'><div id = 'child_list'>
               <%= render :partial => 'child_list', :collection => @child_list, :as => :service %> </div></ul>
         </td>
     </tr>

     <tr> <th><%= f.label :account, 'Associated with account' %></th>
     <td><%= f.select :account_id, user_default_branch.accounts.map{|m| [m.name, m.id]} %></td> </tr>
     
  </table> <br/>

  <input type="hidden" id = "lab_test_parent_id", name="lab_test[parent_id]" value="">
  <%= submit_tag 'Create' %>


  <% end %>

