<div class="reason">
    <table id=reason-display>
     <tr>
       <td>Consultation</td><td id= 'color1'></td> <td> &nbsp; </td>
       <td>Councelling</td><td id= 'color2'></td>  <td> &nbsp; </td>
       <td>Registration</td><td id= 'color3'></td> <td> &nbsp; </td> 
       <td>UltraSound</td><td id= 'color4'></td>   <td> &nbsp; </td>
       <td>Andrology</td><td id= 'color5'></td>    <td> &nbsp; </td>
       <td>Embrology</td><td id= 'color6'></td>    <td> &nbsp; </td>
       <td>Laboratory</td><td id= 'color7'></td>   <td> &nbsp; </td> 
       <td>Multiple</td><td id= 'color8'></td>     <td> &nbsp; </td>
       <td>Visited</td><td id= 'color9'></td>      <td> &nbsp; </td>
     </tr>
    </table> 
</div>
