<% content_for :header do -%>
    Listing all Appointments
<% end -%>


  <%= render :partial => 'filters' %>
  <%= render :partial => 'reason_display' %>


  <!-- Ajax search result indicator -->
  <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
  <div class='scrollable'>
    <div id='appointment_list'>
      <%= render :partial => 'appointment_list' %>
    </div>
    <br />
  </div>

