<h1>New doctor_appointment</h1>

<% form_for(@doctor_appointment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cms_appointments_path %>
