<div class='continer'>
  <div class='continer-inner'>
<h3>Pharmacy Dosage List</h3>

<br/>

<table class="listing">
  <tr>
    <th>Dosage type name</th>
    <th>Show</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>

<% for pharmacy_dosage_list in @pharmacy_dosage_lists %>
  <tr>
    <td><%=h pharmacy_dosage_list.dosage_type_name %></td>
    <td><%= link_to 'Show', pharmacy_dosage_list, :rel=> "facebox" %></td>
    <td><%= link_to 'Modify', edit_pharmacy_dosage_list_path(pharmacy_dosage_list) %></td>
    <td><%= link_to 'Delete', pharmacy_dosage_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @pharmacy_dosage_lists %>

<%= link_to "<span>New #{params[:type]}</span>", new_pharmacy_dosage_list_path(:type => params[:type]), :class=> "button" %>

</div>
</div>
