
<br/><div>
<h3> Clinical Comment </h3>
   <% unless @clinical_comment.blank? %>
   <table class="form-table">

   		<tr><th>Commet: </th><td> <%=h @clinical_comment.commet %> </td></tr>
   </table>
   <%else%>
       No Information Available for Clinical Comment
   <%end%>
