SOAP

<table class="search-table">
<tr><th>Entry Date</th><th>  	Entry Time</th><th>  	Doctor's Name</th><th>  	Subjective</th><th>  	Objective </th><th>  	Assessment</th><th>  	Planning</th><th>  	Other Remarks</th></tr>



</table>
