Transfer History


<table class="search-table">
<tr> <th> Date Of Recommendation </th>
     <th> Transfer Type </th>
     <th> Transfer To  </th>
     <th>	Doctor </th>
     <th> Location </th>
     <th> Remarks </th>
     <th>	Status</th>
</tr>
  Not done
</table>
