<% form_for :appointment, :url => appointments_path, :html => {:id => 'main_form'} do |f| %>
   <div class="form-wrapper">
     <%= error_messages_for 'appointment', 'patient' %>
     <!--<h2 style='color:#ffffff;padding-left:200px;'>New appointment</h2>-->
     <div id="new-booking">
       <div id="new-booking-inner">
     	<h3>New Appointment</h3>
        <%=render :partial => 'appointment_fields', :locals => {:f => f} %> 
<% end %>
	    
        <div id='patient_search' style="display:none">
           <%=render :partial => 'patient_search'%>
        </div>
       </div>	
     </div> <!--new booking-->
	
     <%= render :partial => 'schedules' %>
	  
  </div>

<script type="text/javascript">
  jQuery("#new-booking").corner("corner 10px") 
  jQuery("#new-booking-inner").corner("corner 10px") 
  jQuery("#main-scedules").corner("round 10px") 
</script>
