<div class='continer'>

<h3>New Next Appointment Remark</h3><br/>
<% form_for(:next_appointment_remark ,:url=>cms_appointment_next_appointment_remark_path(:appointment_id => @appointment),:html=>{:method=>:post} ) do |f| %>

  <%= f.error_messages %>

   <table cellpadding="5px" class="form-table">
  <tr><th><%= f.label :remarks %>:</th><td>
    <%= f.text_field :remarks ,:class =>'textbox' %></td></tr>
   </table> <br/><br/>
   <%= image_submit_tag "create.gif" %>

<% end %>
</div>
