<p>
  <b>Remarks:</b>
  <%=h @next_appointment_remark.remarks %>
</p>


<%= link_to 'Edit', edit_next_appointment_remark_path(@next_appointment_remark) %> |
<%= link_to 'Back', next_appointment_remarks_path %>