<div class='continer'>
  <div class='continer-inner'>
<h3>New Pharmacy Dosage List</h3><br/>


<% form_for(:pharmacy_dosage_list ,:url => cms_pharmacy_dosage_lists_url , :html => { :method => :post } ) do |f| %>
  <%= f.error_messages %>

  <table cellpadding="5px" class="form-table">
  <tr><th>  <%= f.label :dosage_type_name %>:</th><td>
    <%= f.text_field :dosage_type_name ,:class =>"textbox"%>
 </td></tr></table>
 <br/>
    <%= image_submit_tag "create.gif" %>

<% end %>
<%= link_to 'Back', cms_pharmacy_dosage_lists_path %>

</div>
</div>
