<% content_for :header do -%>
   Discharge summary
<%end-%>


<% form_for(:discharge_summary,:url=>cms_appointment_discharge_summary_path(@discharge_summary.appointment,:id =>@discharge_summary),:html=>{:method => :put }) do |f| %>

  <%= f.error_messages %>

  <%= render :partial=> 'fields', :locals => {:f => f} %>
  <br/> 
  <%=  submit_tag "Create" %> -or- <%= link_to "Back", :back %>

<% end %>

