<% content_for :header do -%>
   Discharge summary
<%end-%>

<% form_for(:discharge_summary ,:url=>cms_appointment_discharge_summary_path(:appointment_id => @appointment),:html=>{:method=>:post} ) do |f| %>
   <%= f.error_messages %>

  <%= render :partial=> 'fields', :locals => {:f => f} %>
    <br/> 
   <%=  submit_tag "Create" %> -or- <%= link_to "Back", :back %>
<% end %>

