<ul class="sf-menu">
  <li><%= link_to "Sent messages",  admin_messages_url %> </li>
  <li><%= link_to "Contact list",  admin_contact_lists_url %> </li>
  <li> <%= link_to "Saved messages",  admin_saved_messages_url%> </li>
  <li> <%= link_to "Contact groups",  admin_contact_groups_url %></li>
</ul>
