  <% content_for :header do -%>
     Listing All Departments
  <%end-%>
   <div id = 'top-links'>
   <div class = 'right'>
      <%= link_to("<span>New department </span>", new_admin_masters_department_url, :class => 'buttonAdd', :title => 'Create New Department')  %>
    </div>

    <div class = 'clear'></div>
  </div>

  <%=render :partial=> 'filters'%>
  <div id='department_list'>
     <%=render :partial=> 'departments_list'%>
  </div>

